{% extends "website/base.html" %}
{% block content %}
<div class="card">
        <div class="card-header">
            <h1><b>Team {{ object }}</b></h1>
        </div>
        <div class="card-body">
        <table class="table">
        <!--for inline added titles-->
        <h2>Members:</h2>
        {% if object.members %}
        {% for member in object.members.all %}
        <tr>
            <th>{{member.name}}</th>
            <td>{{member.roll_number}}</td>
            <td>{{member.year}}</td>
            <td>{{member.discord_id}}</td>
        </tr>
        {% endfor %}
        {% endif %}
        <!--end-->
        </table>
        <h2>Details:</h2>
        <table class="table">
    	{% if object.team_name %}
    	<tr>
            <th>Team Name</th>
            <td>{{ object.team_name }}</td>
        </tr>
    	{% endif %}
    	{% if object.project_name %}
    	<tr>
            <th>Project Name</th>
            <td>{{ object.project_name }}</td>
        </tr>
    	{% endif %}
        {% if object.tech_stack %}
    	<tr>
            <th>Tech Stack</th>
            <td>{{ object.tech_stack }}</td>
        </tr>
        {% endif %}
        {% if object.leader_email %}
    	<tr>
            <th>Email</th>
            <td>{{ object.leader_email }}</td>
        </tr>
        {% endif %}
        </table>
        {% if user.is_authenticated %}
            {% if user == object.created_by %}
                <a class="btn btn-outline-info" href="{% url 'website:team_update' pk=object.id %}">Update</a>
                <a class="btn btn-outline-danger" href="{% url 'website:team_delete' pk=object.id %}">Delete</a>
            {% endif %}
        {% endif %}
        </div>
</div>
{% endblock content %}